
src/.vs/xunlzip_test/v15/.suo
src/x64/Debug/global.nativecodeanalysis.xml
*.obj
src/x64/Debug/main.nativecodeanalysis.xml
*.tlog
src/x64/Debug/stdafx.nativecodeanalysis.xml
*.idb
*.pdb
src/x64/Debug/vc.nativecodeanalysis.all.xml
*.log
src/x64/Debug/xlzmadec.nativecodeanalysis.xml
src/x64/Debug/xrangedec.nativecodeanalysis.xml
src/x64/Debug/xstream.nativecodeanalysis.xml
src/x64/Debug/xunlzip.nativecodeanalysis.xml
*.pch
*.pchast
src/x64/Debug/xunlzip_test.nativecodeanalysis.xml
src/x64/Debug/xunlzip_test.ilk
src/x64/Debug/xunlzip_test.exe.lastcodeanalysissucceeded
src/x64/Debug/xunlzip_test.exe


.vs

Debug

Release

